.menu {
    text-align: center;
    padding: 10px;
}

.menu a { margin-left: 20px; }
.textAlignCenter { text-align: center; }
.heading { padding: 50px; }
.link { margin-left:150px; }

table { 
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}